body{
    background-color: rgb(1, 202, 152);
}


.title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.124);
}

div{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.09);
    float: left;
    margin: 46px;
}

.first{
    border: solid 2px white;
    background-image: url(https://b-static.besthdwallpaper.com/minimalistichni-gori-vzimku-shpalery-2048x1536-88043_26.jpg);
    background-size:cover;
    border-left: solid 3px blue;
    border-top: solid 3px blue;
    border-bottom: solid 3px yellow ;
    border-right: solid 3px yellow ;

}

.second{
    background-color: rgba(0, 0, 0, 0.275);
}

.third, .fourth{
    width: 250px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.275);
    margin: 50px; 
}

.one{
    width: 350px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.611);
}

.two{
    width: 250px;
    height: 250px;
    margin: 50px;
    background-color: rgba(0, 225, 255, 0.481);
}

.three{
    width: 150px;
    height: 150px;
    margin: 50px;
    background-color: rgba(240, 248, 255, 0.789);
}

